﻿@model Spaceflight.BL.Domain.Mission

@{
    ViewBag.Title = "Mission Details";
    Layout = "_Layout";
}

<h2 class="font-weight-bolder" >Mission</h2>
<dl>
    <dt>Mission Name:</dt>
    <dd>@Model.MissionName</dd>
    <dt>Mission Type:</dt>
    <dd>@Model.MissionType</dd>
</dl>

