﻿@using Spaceflight.BL
@using Spaceflight.BL.Domain
@model Spaceflight.UI.MVC.Models.NewAstronautViewModel



@{
    ViewBag.Title = "Add Astronaut";
    IEnumerable<Agency> agencies = ViewBag.Agency as IEnumerable<Agency>;
    Layout = "_Layout";
}

<h2>Add Astronaut</h2>

<form asp-controller="Astronaut" asp-action="Add" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    
    <div class="form-group">
        <label asp-for="Name">Name: </label>
        <input asp-for="Name" type="text" name="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Name">Gender: </label>
        <select asp-for="Gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    
    <div class="form-group">
        <label asp-for="BirthYear">Birthdate:</label>
        <input asp-for="BirthYear" class="form-control">
        <span asp-validation-for="BirthYear" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Id">Agency: </label>
        <select asp-for="Id" class="form-control">
            @foreach (var a in agencies)
            {
                <option value="@a.Id">@a.Name</option>
            }
        </select>
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    
    <button type="submit">Save</button>
</form>