﻿@using Spaceflight.BL.Domain
@model Spaceflight.BL.Domain.Astronaut

@{
    ViewBag.Title = "Astronaut Details";
    Layout = "_Layout";
    Astronaut astronaut = ViewBag.Astronaut as Astronaut;
    IEnumerable<Mission> mission = ViewBag.Mission as IEnumerable<Mission>;
    IEnumerable<Mission> unassignedMission = ViewBag.UnassignedMission as IEnumerable<Mission>;
}

<h2 class="font-weight-bolder" >Astronaut</h2>
<dl>
    <dt>Full Name:</dt>
    <dd>@astronaut.Name</dd>
    <dt>Birthdate</dt>
    <dd>@astronaut.BirthYear.ToString("yyyy/MM/dd")</dd>
    <dt>Gender</dt>
    <dd>@astronaut.Gender</dd>

    <h3 class="font-weight-bolder">Assigned Missions:</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        @foreach (var m in mission)
        {
            <tr>
                <td>@m.MissionName</td>
                <td>@m.MissionType</td>
                <td><a class="nav-link text-dark" asp-controller="Mission" asp-action="Details" asp-route-id="@m.Id">Detail</a></td>
                <td><a class="nav-link text-dark" asp-controller="Astronaut" asp-action="DeleteMission" asp-route-astronautId="@astronaut.Id" asp-route-missionId="@m.Id">Delete</a></td>
            </tr>
        }
    </table>
    
    <h3 class="font-weight-bolder">Available Missions:</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
    
            @foreach (var m in unassignedMission)
            {
                <tr>
                    <td>@m.MissionName</td>
                    <td>@m.MissionType</td>
                    <td><a class="nav-link text-dark" asp-controller="Mission" asp-action="Details" asp-route-id="@m.Id">Detail</a></td>
                    <td><a class="nav-link text-dark" asp-controller="Astronaut" asp-action="LinkMission" asp-route-astronautId="@astronaut.Id" asp-route-missionId="@m.Id">Add</a></td>
                </tr>
            }
        </table>
    
</dl>