﻿@model System.Collections.Generic.IEnumerable<Spaceflight.BL.Domain.Astronaut>

@{
    ViewBag.Title = "Astronauts Filtered";
    Layout = "_Layout";
}

<h2>Astronauts Found:</h2>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th></th>
    </tr>
    </thead>

    @foreach (var astronaut in Model)
    {
        <tr>
            <td>@astronaut.Id</td>
            <td>@astronaut.Name</td>
            <td>@astronaut.BirthYear.ToString("yyyy/MM/dd")</td>
            <td>@astronaut.Gender</td>

            <td><a class="nav-link text-dark" asp-controller="Astronaut" asp-action="Detail" asp-route-id="@astronaut.Id">Detail</a></td>
        </tr>
    }
</table>
