﻿@model IEnumerable<Spaceflight.BL.Domain.Astronaut>

@{
    ViewBag.Title = "All Astronauts";
    Layout = "_Layout";
}

<h2>All Astronauts</h2>
<div class="col-md-4 form-inline">
    <form asp-controller="Astronaut" asp-action="FilterOnNameAndDOB" method="get" class="form-group">
        <p>Filter Astronauts based on Name and/or DOB:  </p>
        <input name="Name" placeholder="John" class="form-control"/>
        <input name="Dob" placeholder="12/10/2001" class="form-control"/>
        <input type="submit" value="Show Astronaut" class="btn btn-light"/>
    </form>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Agency</th>
        <th></th>
    </tr>
    </thead>

    @foreach (var astronaut in Model)
    {
        <tr>
            <td>@astronaut.Id</td>
            <td>@astronaut.Name</td>
            <td>@astronaut.BirthYear.ToString("yyyy/MM/dd")</td>
            <td>@astronaut.Gender</td>
            <td>@astronaut.Agency.Name</td>
            <td><a class="nav-link text-dark" asp-controller="Astronaut" asp-action="Detail" asp-route-id="@astronaut.Id">Detail</a></td>
        </tr>
    }
</table>
